Get_patient_insurance_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>assign value</description>
        <name>assign_newly_created_pio_to_record_variable</name>
        <label>assign newly created pio to record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>patientinsuredinfoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_newly_created_pio</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get all the patient insurance &amp; claim details from DMO&apos;s</description>
    <environments>Default</environments>
    <interviewLabel>get ME {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get patient insurance details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create pii</description>
        <name>create_pii</name>
        <label>create pii</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>createdpio</assignRecordIdToReference>
        <connector>
            <targetReference>get_newly_created_pio</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>get_patient_insured_information.DATE_OF_BIRTH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>get_patient_insured_information.RECORD_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>patient_name__c</field>
            <value>
                <elementReference>get_patient_insured_information.PATIENT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>policy_end_date__c</field>
            <value>
                <elementReference>get_patient_insured_information.POLICY_END_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>policy_number__c</field>
            <value>
                <elementReference>get_patient_insured_information.POLICY_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>policy_start_date__c</field>
            <value>
                <elementReference>get_patient_insured_information.POLICY_START_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relationship_to_insured__c</field>
            <value>
                <elementReference>get_patient_insured_information.RELATIONSHIP_TO_INSURED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscriber_identification_number__c</field>
            <value>
                <elementReference>get_patient_insured_information.SUBSCRIBER_IDENTIFICATION_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>fetch new pio</description>
        <name>get_newly_created_pio</name>
        <label>get newly created pio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_newly_created_pio_to_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdpio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get patient insured information from DMO</description>
        <name>get_patient_insured_information</name>
        <label>get patient insured information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_pii</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RECORD_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingPatientNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>watsonx_healthcare_PATIENT_INSU_DDCF__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_patient_insured_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>created pio</description>
        <name>createdpio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>incoming patient number to fetch detail</description>
        <name>incomingPatientNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>patient insured info</description>
        <name>patientinsuredinfoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
