HealthCare_Payer_Agent_get_eligibility_coverage_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>assign</description>
        <name>assign_new_ec_to_record_variable</name>
        <label>assign new ec to record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newecop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_newly_created_ec</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>get eligibility details from DMO</description>
    <environments>Default</environments>
    <interviewLabel>HealthCare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HealthCare(Payer) Agent - get eligibility coverage details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>new ec</description>
        <name>create_new_ec</name>
        <label>create new ec</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newecid</assignRecordIdToReference>
        <connector>
            <targetReference>get_newly_created_ec</targetReference>
        </connector>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>get_eligibility_coverage.RECORD_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>claim_number__c</field>
            <value>
                <elementReference>get_eligibility_coverage.CLAIM_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>coverage_level__c</field>
            <value>
                <elementReference>get_eligibility_coverage.COVERAGE_LEVEL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>coverage_status__c</field>
            <value>
                <elementReference>get_eligibility_coverage.COVERAGE_STATUS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eligibility_verified__c</field>
            <value>
                <elementReference>get_eligibility_coverage.ELIGIBILITY_VERIFIED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>plan_name__c</field>
            <value>
                <elementReference>get_eligibility_coverage.PLAN_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>verification_date__c</field>
            <value>
                <elementReference>get_eligibility_coverage.VERIFICATION_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>get elegibility coverage from DMO</description>
        <name>get_eligibility_coverage</name>
        <label>get eligibility coverage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_new_ec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RECORD_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingrecordnumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>watsonx_healthcare_ELIGIBILITY_DDCFF__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get new</description>
        <name>get_newly_created_ec</name>
        <label>get newly created ec</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_new_ec_to_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newecid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_eligibility_coverage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>incoming record number</description>
        <name>incomingrecordnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>new ec id</description>
        <name>newecid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new ec op</description>
        <name>newecop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
