HealthCare_Payer_Agent_get_benefit_application_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>assign</description>
        <name>assign_new_ad_to_record_variable</name>
        <label>assign new ad to record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newadop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_new_ad</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>get benefit details from DMO</description>
    <environments>Default</environments>
    <interviewLabel>HealthCare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HealthCare(Payer) Agent - get benefit application details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create new</description>
        <name>create_new_ad</name>
        <label>create new ad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newadid</assignRecordIdToReference>
        <connector>
            <targetReference>get_new_ad</targetReference>
        </connector>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>get_benefit_application_details.RECORD_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>allowed_amount__c</field>
            <value>
                <elementReference>get_benefit_application_details.ALLOWED_AMOUNT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>billed_amount__c</field>
            <value>
                <elementReference>get_benefit_application_details.BILLED_AMOUNT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>coinsurance_amount__c</field>
            <value>
                <elementReference>get_benefit_application_details.COINSURANCE_AMOUNT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copay_amount__c</field>
            <value>
                <elementReference>get_benefit_application_details.COPAY_AMOUNT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>deductible_applied__c</field>
            <value>
                <elementReference>get_benefit_application_details.DEDUCTIBLE_APPLIED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_number__c</field>
            <value>
                <elementReference>get_benefit_application_details.LINE_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paid_responsibility__c</field>
            <value>
                <elementReference>get_benefit_application_details.PAID_RESPONSIBILITY__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>get benefit application details</description>
        <name>get_benefit_application_details</name>
        <label>get benefit application details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_new_ad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RECORD_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingrecordnumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>watsonx_healthcare_BENEFIT_APPL_DDCF__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get new</description>
        <name>get_new_ad</name>
        <label>get new ad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_new_ad_to_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newadid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_benefit_application_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>incoming record number</description>
        <name>incomingrecordnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>new ad</description>
        <name>newadid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new ad op</description>
        <name>newadop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
