HealthCare_Payer_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>assign</description>
        <name>assign_new_sd_to_record_variable</name>
        <label>assign new sd to record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newsdop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_new_sd</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>get service details from DMO</description>
    <environments>Default</environments>
    <interviewLabel>HealthCare(Payer) Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HealthCare(Payer) Agent - get service details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create sd</description>
        <name>create_sd</name>
        <label>create sd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>createdsdId</assignRecordIdToReference>
        <connector>
            <targetReference>get_new_sd</targetReference>
        </connector>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>get_service_details.RECORD_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>claim_number__c</field>
            <value>
                <elementReference>get_service_details.CLAIM_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_of_service_end__c</field>
            <value>
                <elementReference>get_service_details.DATE_OF_SERVICE_END__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_of_service_start__c</field>
            <value>
                <elementReference>get_service_details.DATE_OF_SERVICE_START__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>place_of_service__c</field>
            <value>
                <elementReference>get_service_details.PLACE_OF_SERVICE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rendering_provider_npi__c</field>
            <value>
                <elementReference>get_service_details.RENDERING_PROVIDER_NPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_service__c</field>
            <value>
                <elementReference>get_service_details.TYPE_OF_SERVICE__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>get new sd</description>
        <name>get_new_sd</name>
        <label>get new sd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_new_sd_to_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdsdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get service details from DMO</description>
        <name>get_service_details</name>
        <label>get service details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_sd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RECORD_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingrecordnumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>watsonx_healthcare_SERVICE_DETA_DDCF__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_service_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>created sd</description>
        <name>createdsdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>incoming record number</description>
        <name>incomingrecordnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>new sd op</description>
        <name>newsdop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
